{% extends 'base.html' %}

{% block content %}
    <div class="col-lg-8 offset-2">
        <div class="panel">
            <div class="panel-body"><h3>{{ profile.owner.get_full_name }}</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <p><b>Username: </b>{{ profile.owner.username }}</p>
                        <p><b>Email: </b>{{ profile.owner.email }}</p>
                        <p><b>City: </b>{{ profile.city }}</p>
                        <p><b>Region: </b>{{ profile.region }}</p>
                    </div>
                    <div class="col-lg-6">
                        <img src="{{ profile.image.url }}" alt="{{ profile.owner.get_full_name }}">
                    </div>
                </div>
                {% if user == profile.owner %}
                    <div class="row">
                        <a href="{% url 'accounts:profile_update' user.id %}" class="btn btn-primary">Edit Profile</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}