{% extends 'base.html' %}

{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Page title -->
    <div class="page-title">
        {#        <h1>{{ post.title }}</h1>#}
        <div class="breadcrumb float-left">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'posts:post-list' %}">Posts</a></li>
                <li class="active">{{ post.title }}</li>
            </ul>
        </div>
    </div>
    <!-- end: Page title -->
    <section id="page-content" class="sidebar-right">
        <div class="container">
            <div class="row">
                <!-- content -->
                <div class="content col-lg-9">
                    <!-- Blog -->
                    <div id="blog" class="single-post">
                        <!-- Post single item-->
                        <div class="post-item">
                            <div class="post-item-wrap">
                                <div class="carousel dots-inside arrows-visible" data-items="1" data-lightbox="gallery">
                                    <a href="{{ post.image.url }}" data-lightbox="gallery-image">
                                        <img alt="{{ post.title }}" src="{{ post.image.url }}">
                                    </a>
                                </div>
                                <div class="post-item-description">
                                    <h2>{{ post.title }}</h2>
                                    <div class="post-meta">
                                        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>{{ post.created_at|naturaltime }}</span>
                                        <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
                                        <span class="post-meta-category"><a href=""><i class="fa fa-location-arrow"></i>{{ post.region }}, {{ post.city }}</a></span>
                                        <div class="post-meta-share">
                                            <a class="btn btn-xs btn-slide btn-facebook" href="#">
                                                <i class="fab fa-facebook-f"></i>
                                                <span>Facebook</span>
                                            </a>
                                            <a class="btn btn-xs btn-slide btn-twitter" href="#" data-width="100">
                                                <i class="fab fa-twitter"></i>
                                                <span>Twitter</span>
                                            </a>
                                            <a class="btn btn-xs btn-slide btn-instagram" href="#" data-width="118">
                                                <i class="fab fa-instagram"></i>
                                                <span>Instagram</span>
                                            </a>
                                            <a class="btn btn-xs btn-slide btn-googleplus" href="mailto:#" data-width="80">
                                                <i class="far fa-envelope"></i>
                                                <span>Mail</span>
                                            </a>
                                        </div>
                                    </div>
                                    <p>{{ post.description }}</p>
                                    <div class="blockquote">
                                        <p><b>Vehicle Make: </b>{{ post.make }}</p>
                                        <p><b>Vehicle Model: </b>{{ post.model }}</p>
                                        <p><b>Vehicle Type: </b>{{ post.vehicle_type }}</p>
                                        <p><b>Vehicle License: </b>{{ post.vehicle_numbers }} - {{ post.vehicle_characters }}</p>
                                    </div>
                                    <small>by <a href="{% url 'accounts:profile_detail' post.publisher.id %}">{{ post.publisher.get_full_name }}</a></small>
                                </div>
                                <div class="post-navigation">
                                    <a href="{{ post.get_previous_by_created_at.get_absolute_url }}" class="post-prev">
                                        <div class="post-prev-title">
                                            <span>Previous Post</span>{{ post.get_previous_by_created_at.title }}
                                        </div>
                                    </a>
                                    <a href="{% url 'posts:post-list' %}" class="post-all">
                                        <i class="icon-grid"></i>
                                    </a>
                                    <a href="{{ post.get_next_by_created_at.get_absolute_url }}" class="post-next">
                                        <div class="post-next-title">
                                            <span>Next Post</span>{{ post.get_next_by_created_at.title }}
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end: Post single item-->
                    </div>

                </div>
                <!-- end: content -->

                <!-- Sidebar-->
                <div class="sidebar sticky-sidebar col-lg-3">
                    <!--widget newsletter-->
                    <div class="widget  widget-newsletter">
                        <form id="widget-search-form-sidebar" action="{% url 'posts:post-list' %}" method="get" class="form-inline">
                            <div class="input-group">
                                <input type="text" aria-required="true" name="q" class="form-control widget-search-form" placeholder="Search for pages...">
                                <div class="input-group-append">
                                    <span class="input-group-btn">
                                        <button type="submit" id="widget-widget-search-form-button" class="btn"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--end: widget newsletter-->
                </div>
                <!-- end: Sidebar-->
            </div>
        </div>
    </section>
{% endblock %}